<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Causes", search_path: defsol_cause_path(@conn, :index), conn: @conn, page: @page %>
    </div>
    <div class="card-body">

<%= for item <- @page do %>
    <div class="row py-2">
        <div class="col">
            <div class="card">
                <% color = if item.active, do: "danger", else: "primary" %>
                <div class="card-header bg-<%= color %> text-light">
                    <div class="d-flex flex-row">
                        <div><%= item.title %></div>
                        <div class="ml-auto">
                            <% back_to = Phoenix.Controller.current_path(@conn) %>
                            <%= if item.active do %>
                                <span data-toggle="tooltip" data-placement="top" title="Set as inactive">
                                    <% params = [cause: [active: false, redirect_to: back_to]] %>
                                    <%= link to: defsol_cause_path(@conn, :update, item, params), method: :put, class: "text-danger" do %>
                                        <i class="fa fa-toggle-on text-light"></i>
                                    <% end %>
                                </span>
                            <% else %>
                                <span data-toggle="tooltip" data-placement="top" title="Set as active">
                                    <% params = [cause: [active: true, redirect_to: back_to]] %>
                                    <%= link to: defsol_cause_path(@conn, :update, item, params), method: :put, class: "text-primary" do %>
                                        <i class="fa fa-toggle-off text-light"></i>
                                    <% end %>
                                </span>
                            <% end %>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Description</h5>
                    <p class="card-text"><%= item.description %></p>
                    <h5 class="card-title">Detection</h5>
                    <p class="card-text"><%= item.detection %></p>

                    <%= render_shared "authorable.html", item: item %>

                    <%= for attachment <- item.attachments do %>
                        <a href="<%= Hidria.AttachmentUpload.url({attachment.fileinfo, attachment}, :original) %>" class="lightbox" data-lightbox-gallery="error_gallery_<%= item.id %>" title="">
                            <img src="<%= Hidria.AttachmentUpload.url({attachment.fileinfo, attachment}, :thumb) %>" alt="">
                        </a>
                    <% end %>
                    <div class="py-2">
                        <%= link "Solutions", to: defsol_solution_path(@conn, :index, cause_id: item.id), class: "btn btn-primary btn-xs" %>
                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <div class="d-flex flex-row justify-content-end">
                        <div class="align-self-center"> Something wrong with this cause? </div>
                        <div class="px-2">
                            <%= link "Note", to: defsol_note_path(@conn, :new, cause_id: item.id), class: "btn btn-sm btn-success" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>

<div class="pt-3">
    <%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &defsol_cause_path/3, action: :index] %>
</div>
    </div>
</div>
