<h2>Show Cause</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @cause.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @cause.description %>
  </li>

  <li>
    <strong>Detection:</strong>
    <%= @cause.detection %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @cause.active %>
  </li>

</ul>

<span><%= link "Edit", to: admin_cause_path(@conn, :edit, @cause) %></span>
<span><%= link "Back", to: admin_cause_path(@conn, :index) %></span>
