<div class="card-2">
    <div class="card-header">
        <h2>Edit Part Code</h2>
    </div>
    <div class="card-body">


<%= render "form.html", Map.put(assigns, :action, admin_part_path(@conn, :update, @part)) %>

    </div>
</div>
