<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Part Codes", new_path: admin_part_path(@conn, :new), search_path: admin_part_path(@conn, :index), conn: @conn, page: @page %>
    </div>
    <div class="card-body">

<%= for {item, i} <- Enum.with_index(@page.entries) do %>
    <%= row(:open, rem(i,3) == 0) %>

    <div class="col-md-4 py-2">
        <div class="card">
            <h5 class="card-header bg-primary text-light">
                <%= item.code %>
            </h5>
            <div class="card-body d-flex flex-row">
                <div class="card-text"><%= item.description %></div>
                <div class="ml-auto">
                    <%= link "Edit", to: admin_part_path(@conn, :edit, item), class: "btn btn-primary" %>
                    <%= link "Delete", to: admin_part_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
                </div>
            </div>
        </div>
    </div>

    <%= row(:close, rem(i,3) == 2) %>
<% end %>

<%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &admin_part_path/3, action: :index] %>
    </div>
</div>
