<div class="card-2">
    <div class="card-header">
        <h2>Edit Cause</h2>
    </div>
    <div class="card-body">

<%= render "form.html", Map.put(assigns, :action, admin_cause_path(@conn, :update, @cause)) %>

    </div>
</div>

<% attachment_assigns = [conn: @conn, attachments: @cause.attachments, assoc: "cause", assoc_id: @cause.id, delete: true] %>
<%= render HidriaWeb.Defsol.AttachmentView, "index.html", attachment_assigns %>
