<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
      <%= label f, :active, class: "control-label" %>
      <%= checkbox f, :active, class: "checkbox" %>
      <%= error_tag f, :active %>
  </div>

  <div class="form-group">
      <%= label f, :error_id, "Error", class: "control-label" %>
      <% errors = Enum.map(@errors, &{&1.title, &1.id}) %>
      <%= select f, :error_id, errors, select_class() %>
      <%= error_tag f, :error_id %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, rows: 5, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :detection, class: "control-label" %>
    <%= textarea f, :detection, rows: 5, class: "form-control" %>
    <%= error_tag f, :detection %>
  </div>

  <div class="form-group">
      <%= submit class: "btn btn-primary" do %>
          <i class="fa fa-floppy-o"> Save</i>
      <% end %>
      <%= submit class: "btn btn-primary", name: "action", value: "attachments" do %>
          <i class="fa fa-floppy-o"> Add Attachments</i>
      <% end %>
      <%= submit class: "btn btn-primary", name: "action", value: "solution" do %>
          <i class="fa fa-floppy-o"> Add Solution</i>
      <% end %>
      <%= link to: admin_cause_path(@conn, :index), class: "btn btn-carmine" do %>
          <i class="fa fa-close"></i>
      <% end %>
  </div>
<% end %>
