<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Causes", new_path: admin_cause_path(@conn, :new), search_path: admin_cause_path(@conn, :index), conn: @conn, page: @page %>
    </div>
    <div class="card-body">

<%= for {item, i} <- Enum.with_index(@page.entries) do %>
    <%= row(:open, rem(i,3) == 0) %>

    <div class="col-md-4 py-2">
        <div class="card">
            <% color = if item.active, do: "danger", else: "primary" %>
            <div class="card-header bg-<%= color %> text-light">
                <div class="d-flex flex-row">
                    <h5 class="card-title"><%= item.title %></h5>
                    <div class="ml-auto">
                        <%= if item.active do %>
                            <i class="fa fa-toggle-on"></i>
                        <% else %>
                            <i class="fa fa-toggle-off"></i>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h5>Error <%= item.error.title %></h5>
                <h5>Description</h5>
                <p class="card-text"><%= item.description %></p>
                <h5>Detection</h5>
                <p class="card-text"><%= item.detection %></p>

                <%= render_shared "authorable.html", item: item %>

                <div class="d-flex flex-column flex-sm-row justify-content-between">
                    <div>
                        <%= link "New Solution", to: admin_solution_path(@conn, :new, cause_id: item.id), class: "btn btn-light" %>
                    </div>
                    <div>
                        <%= link "List Solutions", to: admin_solution_path(@conn, :index, cause_id: item.id), class: "btn btn-light" %>
                    </div>
                    <div>
                        <%= link "List Notes", to: admin_note_path(@conn, :index, cause_id: item.id), class: "btn btn-light" %>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent">
                <div class="d-flex flex-row justify-content-end">
                    <div class="px-1">
                        <%= link "Edit", to: admin_cause_path(@conn, :edit, item), class: "btn btn-primary" %>
                    </div>
                    <div class="px-1">
                        <%= link "Delete", to: admin_cause_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%= row(:close, rem(i,3) == 2) %>
<% end %>

<div class="pt-3">
    <%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &admin_cause_path/3, action: :index] %>
</div>
    </div>
</div>
