<div class="card-2">
    <div class="card-header">
        <h2>Edit Error</h2>
    </div>
    <div class="card-body">

<%= render "edit_form.html", Map.put(assigns, :action, admin_error_path(@conn, :update, @error)) %>

    </div>
</div>

<% attachment_assigns = [conn: @conn, attachments: @error.attachments, assoc: "error", assoc_id: @error.id, delete: true] %>
<%= render HidriaWeb.Defsol.AttachmentView, "index.html", attachment_assigns %>
