<div class="card-2">
    <div class="card-header">
        <h2>Edit User</h2>
    </div>
    <div class="card-body">

<%= render "form.html", Map.put(assigns, :action, admin_user_path(@conn, :update, @user)) %>

    </div>
</div>
