<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :username, class: "control-label" %>
    <%= text_input f, :username, class: "form-control" %>
    <%= error_tag f, :username %>
  </div>

  <div class="form-group">
    <%= label f, :fullname, "Full Name:", class: "control-label" %>
    <%= text_input f, :fullname, class: "form-control" %>
    <%= error_tag f, :fullname %>
  </div>

  <div class="form-group">
    <%= label f, :role, class: "control-label" %>
    <%= select f, :role, @roles, class: "form-control" %>
    <%= error_tag f, :role %>
  </div>

  <%= render_shared "user_avatar.html", f: f, user: @user %>

  <div class="form-group">
      <%= link "Change User Password", to: admin_user_path(@conn, :new_password, @user), class: "btn btn-primary" %>
  </div>

  <div class="form-group">
      <%= submit class: "btn btn-primary" do %>
          <i class="fa fa-floppy-o"> Save</i>
      <% end %>
      <%= link to: admin_user_path(@conn, :index), class: "btn btn-carmine" do %>
          <i class="fa fa-close"></i>
      <% end %>
  </div>
<% end %>
