<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Users", new_path: admin_user_path(@conn, :new), search_path: admin_user_path(@conn, :index), conn: @conn, page: @page %>
    </div>
    <div class="card-body">

<%= for {item, i} <- Enum.with_index(@page.entries) do %>

    <%= row(:open, rem(i,3) == 0) %>

    <div class="col-md-4 py-2">
        <div class="card">
            <div class="card-header bg-primary">
                <img class="card-img-top img-user mx-auto d-block" src="<%= Avatar.url({item.avatar, item}, :thumb) %>" alt="Card image cap">
                <div class="d-flex flex-row">
                    <h5 class="card-title text-white"><%= item.fullname %></h5>
                    <div class="ml-auto">
                        <h5 class="card-title text-white">@<%= item.username %></h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-column flex-sm-row">
                    <div><h5 class="card-text"><%= role(item) %></h5></div>
                    <div class="ml-auto">
                        <%= link "Edit", to: admin_user_path(@conn, :edit, item), class: "btn btn-primary" %>
                        <%= link "Delete", to: admin_user_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%= row(:close, rem(i,3) == 2) %>

<% end %>

<%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &admin_user_path/3, action: :index] %>
    </div>
</div>
