<div class="card-2">
    <div class="card-header">
        <h2>New User</h2>
    </div>
    <div class="card-body">

<%= render "form_create.html", Map.put(assigns, :action, admin_user_path(@conn, :create)) %>

    </div>
</div>
