<div class="d-flex page-header align-content-center flex-sm-row flex-column">
    <div class="d-flex flex-row">
        <div class="pl-2 py-1">
            <h2><%= @user.fullname %></h2>
        </div>
        <div class="pl-2 py-1">
            <span>
                <%= link to: admin_user_path(@conn, :edit, @user), class: "btn btn-primary btn-xs" do %>
                    <i class="fa fa-pencil"></i>
                <% end %>
            </span>
        </div>
    </div>
</div>

<div>Username: <%= @user.username %></div>
<div>Role: <%= @user.role %></div>
