<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Shopfloor Intelligence System</title>
        <%= PumbaView.stylesheets() %>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/light.css") %>">
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/upload.css") %>">
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/lightbox.css") %>">
    </head>

    <body class="background">
        <%= upper(@conn) %>

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

        <%= render @view_module, @view_template, assigns %>

        <%= lower(@conn) %>

        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>
