<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Shopfloor Intelligence System</title>
        <%= PumbaView.stylesheets() %>
        <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    </head>

    <body>
        <div class="login">
            <div class="container">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="card text-center">
                        <div class="card-body">
                            <h3 class="card-title text-muted">Login</h3>
                            <h5 class="card-title">Shopfloor Intelligence System</h5>
                            <%= render @view_module, @view_template, assigns %>
                            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%= PumbaView.scripts() %>
        <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    </body>
</html>

