<%= form_for @conn, login_path(@conn, :create), [class: "form-signin"], fn f -> %>
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

  <div class="py-2">
    <%= label f, :username, class: "sr-only" %>
    <%= text_input f, :username, class: "form-control", placeholder: "Username", required: true, autofocus: true %>
  </div>

  <div class="py-2">
    <%= label f, :password, "Password:", class: "sr-only" %>
    <%= password_input f, :password, class: "form-control", placeholder: "Password", required: true %>
  </div>

  <%= submit class: "btn btn-lg btn-primary btn-block" do %>
    Sign in
  <% end %>
<% end %>
