<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Solutions", search_path: defsol_solution_path(@conn, :index), conn: @conn, page: @page %>
    </div>
    <div class="card-body">

<%= for item <- @page do %>
    <div class="row">
    <div class="col py-2">
        <div class="card">
            <div class="card-header bg-primary text-light">
                <div class="d-flex flex-row">
                    <h5 class="card-title"><%= item.title %></h5>
                </div>
            </div>
            <div class="card-body">
                <h5>Cause <%= item.cause.title %></h5>
                <h5>Description</h5>
                <p class="card-text"><%= item.description %></p>
                <h5>Steps</h5>
                <ul class="list-group list-group-flush">
                <%= for {step, i} <- Enum.with_index(item.steps) do %>
                    <li class="list-group-item">
                        <h5><%= Integer.to_string(i+1) <> ". " <> step.title %></h5>
                        <p><%= step.description %></p>
                        <%= for attachment <- step.attachments do %>
                            <a href="<%= Hidria.AttachmentUpload.url({attachment.fileinfo, attachment}, :original) %>" class="lightbox" data-lightbox-gallery="error_gallery_<%= step.id %>" title="">
                                <img src="<%= Hidria.AttachmentUpload.url({attachment.fileinfo, attachment}, :thumb) %>" alt="">
                            </a>
                        <% end %>
                    </li>
                <% end %>
                </ul>

                <div class="pt-2">
                    <%= render_shared "authorable.html", item: item %>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between pt-2">
                    <div>
                        <%= link "Apply", to: defsol_report_path(@conn, :new, solution_id: item.id), class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent">
                <div class="d-flex flex-row justify-content-end">
                    <div class="align-self-center"> Something wrong with this solution? </div>
                    <div class="px-2">
                        <%= link "Note", to: defsol_note_path(@conn, :new, solution_id: item.id), class: "btn btn-sm btn-success" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<% end %>

<div class="pt-3">
    <%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &admin_solution_path/3, action: :index] %>
</div>
    </div>
</div>
