<h2>Solution</h2>

<h3> <%= @solution.title %> </h3>

<%= if @solution.description do %>
    <h4>Description:</h4>
    <p><%= @solution.description %></p>
<% end %>
<%= for {step, i} <- Enum.with_index(@solution.steps) do %>
    <h4><%= "#{i+1}. #{step.title}" %></h4>
    <p><%= step.description %></p>
<% end %>
