<% len = @active_errors |> Enum.to_list() |> length() %>
<%= if len > 0 do %>
    <%= render HidriaWeb.Defsol.ErrorView, "list.html", conn: @conn, errors: @active_errors %>
    <%= render_shared "pagination.html", conn: @conn, page: @active_errors, path_opts: [path: &home_path/3, action: :index] %>
<% else %>
    <div class="row">
        <div class="col">
            <div class="card-2 text-center">
                <div class="card-body">
                    <h5 class="card-title">No Active Errors!</h5>
                    <p class="card-text">If you have a problem in production you can look through possible errors, try to solve them or notify others of its presence.</p>
                    <a class="btn btn-primary" href="<%= defsol_error_path(@conn, :index, station_part_params(@conn)) %>" role="button">All Errors</a>
                </div>
            </div>
        </div>
    </div>
<% end %>

<div class="row pt-3">
    <div class="col">
        <div class="card-2 text-center">
            <div class="card-body">
                <h5 class="card-title">Can't find the error?</h5>

                <p class="card-text">If you have found a new error that is not already described, please create a new one!</p>
                <a class="btn btn-success" href="<%= defsol_error_path(@conn, :new, station_part_params(@conn)) %>" role="button">New Error</a>
                <p class="card-text">If there is something in general not working please create a note!</p>
                <a class="btn btn-success" href="<%= defsol_note_path(@conn, :new) %>" role="button">New Note</a>
            </div>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col">
        <div class="card-2 text-center">
            <div class="card-body">
                <h5 class="card-title">Latest reports!</h5>
                <%= for item <- @reports do %>
            <div class="d-flex flex-row">
                <div>
                    <img class="img-user-small" src="<%= Avatar.url({item.author.avatar, item.author}, :thumb) %>" alt="User">
                </div>
                <div class="col">
                    <div class="card text-left">
                        <% color = if item.success, do: "primary", else: "danger" %>
                        <div class="card-header bg-<%= color %> text-light">
                            <div class="d-flex flex-row">
                                <div class="small"><%= inserted_at(item) %></div>
                                <div class="small px-1">
                                    <%= item.author.fullname %>
                                    <%= if item.success do %>
                                        applied <%= item.solution.title %>
                                    <% else %>
                                        failed to apply <%= item.solution.title %>
                                    <% end %>
                                </div>
                            </div>
                            <p class="card-text"><%= item.description %></p>
                        </div>
                    </div>
                </div>
            </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
