<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, "Title*", class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
      <%= label f, :active, class: "control-label" %>
      <%= checkbox f, :active, class: "checkbox" %>
      <%= error_tag f, :active %>
  </div>

  <div class="form-group">
      <%= label f, :description, class: "control-label" %>
      <%= textarea f, :description, rows: 3, class: "form-control" %>
      <%= error_tag f, :description %>
  </div>

  <div class="form-group">
      <%= label f, :station_id, "Machine", class: "control-label" %>
      <% stations = [{"None", nil}] ++ Enum.map(@stations, &{&1.description, &1.id}) %>
      <%= select f, :station_id, stations, select_class() %>
      <%= error_tag f, :station_id %>
  </div>

  <div class="form-group">
      <%= label f, :part_id, "Part Code", class: "control-label" %>
      <% parts = [{"None", nil}] ++ Enum.map(@parts, &{&1.code, &1.id}) %>
      <%= select f, :part_id, parts, select_class() %>
      <%= error_tag f, :part_id %>
  </div>

  <div class="form-group">
      <%= submit class: "btn btn-primary" do %>
          <i class="fa fa-floppy-o"> Save</i>
      <% end %>
      <%= link to: defsol_error_path(@conn, :index), class: "btn btn-carmine" do %>
          <i class="fa fa-close"></i>
      <% end %>
  </div>
<% end %>
