<div class="card-2">
    <div class="card-header">
        <h2>Edit Error</h2>
    </div>
    <div class="card-body">

<%= render "edit_form.html", Map.put(assigns, :action, defsol_error_path(@conn, :update, @error)) %>

    </div>
</div>
