<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Errors", search_path: defsol_error_path(@conn, :index), conn: @conn, page: @page %>
    </div>
    <div class="card-body">

<%= form_for @conn, defsol_error_path(@conn, :index), [method: :get], fn f -> %>
    <div class="d-flex flex-column flex-sm-row justify-content-end">
        <div class="px-2">
            <%= label f, :station_id, "Machine:", class: "control-label" %>
            <% stations = [{"All", nil}] ++ Enum.map(@stations, &{&1.description, &1.id}) %>
            <%= select f, :station_id, stations, select_options(Map.get(@conn.assigns, :current_station)) %>
        </div>
        <div class="px-2">
            <%= label f, :part_id, "Part:", class: "control-label" %>
            <% parts = [{"All", nil}] ++ Enum.map(@parts, &{&1.code, &1.id}) %>
            <%= select f, :part_id, parts, select_options(Map.get(@conn.assigns, :current_part)) %>
        </div>
        <div class="px-2">
            <%= submit class: "btn btn-primary" do %>
                <i class="fa fa-filter"> Apply</i>
            <% end %>
        </div>
    </div>
<% end %>

<%= render "list.html", conn: @conn, errors: @page.entries %>

<%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &defsol_error_path/3, action: :index] %>
    </div>
</div>
