<%= for item <- @errors do %>
    <div class="row py-2">
        <div class="col">
            <div class="card">
                <% color = if item.active, do: "danger", else: "primary" %>
                <div class="card-header bg-<%= color %> text-light">
                    <div class="d-flex flex-row">
                        <h5 class="card-title"><%= item.title %></h5>
                        <div class="ml-auto">
                            <% back_to = Phoenix.Controller.current_path(@conn) %>
                            <%= if item.active do %>
                                <span data-toggle="tooltip" data-placement="top" title="Set as inactive">
                                    <% params = [error: [active: false, redirect_to: back_to]] %>
                                    <%= link to: defsol_error_path(@conn, :update, item, params), method: :put do %>
                                        <i class="fa fa-toggle-on text-light"></i>
                                    <% end %>
                                </span>
                            <% else %>
                                <span data-toggle="tooltip" data-placement="top" title="Set as active">
                                    <% params = [error: [active: true, redirect_to: back_to]] %>
                                    <%= link to: defsol_error_path(@conn, :update, item, params), method: :put do %>
                                        <i class="fa fa-toggle-off text-light"></i>
                                    <% end %>
                                </span>
                            <% end %>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <p class="card-text"><%= item.description %></p>

                    <%= render_shared "authorable.html", item: item %>

                    <%= for attachment <- item.attachments do %>
                        <a href="<%= Hidria.AttachmentUpload.url({attachment.fileinfo, attachment}, :original) %>" class="lightbox" data-lightbox-gallery="error_gallery_<%= item.id %>" title="">
                            <img src="<%= Hidria.AttachmentUpload.url({attachment.fileinfo, attachment}, :thumb) %>" alt="">
                        </a>
                    <% end %>
                    <div class="py-2">
                        <%= link "Causes", to: defsol_cause_path(@conn, :index, error_id: item.id), class: "btn btn-primary" %>
                    </div>
                </div>

                <div class="card-footer bg-transparent">
                    <div class="d-flex flex-row justify-content-end">
                        <div class="align-self-center"> Something wrong with this error? </div>
                        <div class="px-2">
                            <%= link to: defsol_note_path(@conn, :new, error_id: item.id), class: "btn btn-sm btn-success" do %>
                                Note
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
