<div class="card-2">
    <div class="card-header">
        <h2>New Error</h2>
    </div>
    <div class="card-body">

<%= render "form.html", Map.put(assigns, :action, defsol_error_path(@conn, :create)) %>

    </div>
</div>
