<div class="card-2">
    <div class="card-header">
        <h2>Change password for <%= @user.username %></h2>
    </div>
    <div class="card-body">

<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
      <%= label f, :password, class: "control-label" %>
      <%= password_input f, :password, class: "form-control" %>
      <%= error_tag f, :password %>
  </div>

  <div class="form-group">
      <%= label f, :password_confirmation, class: "control-label" %>
      <%= password_input f, :password_confirmation, class: "form-control" %>
      <%= error_tag f, :password_confirmation %>
  </div>

  <div class="form-group">
      <%= submit class: "btn btn-primary" do %>
          <i class="fa fa-floppy-o"> Save</i>
      <% end %>
      <%= link to: user_path(@conn, :show, @user), class: "btn btn-carmine" do %>
          <i class="fa fa-close"></i>
      <% end %>
  </div>
<% end %>

    </div>
</div>
