<div class="card">
    <div class="card-header bg-primary">
        <img class="card-img-top img-user mx-auto d-block" src="<%= Avatar.url({@user.avatar, @user}, :thumb) %>" alt="Card image cap">
        <div class="d-flex flex-row">
            <h5 class="card-title text-white"><%= @user.fullname %></h5>
            <div class="ml-auto">
                <h5 class="card-title text-white">@<%= @user.username %></h5>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex flex-column flex-sm-row">
            <div><h5 class="card-text"><%= role(@user) %></h5></div>
            <div class="ml-auto">
                <%= link "Edit", to: user_path(@conn, :edit, @user), class: "btn btn-primary" %>
            </div>
        </div>
    </div>
</div>
