<div class="card-2">
    <div class="card-header">
        <h2>Edit Report</h2>
    </div>
    <div class="card-body">

<%= render "form.html", Map.put(assigns, :action, defsol_report_path(@conn, :update, @report)) %>

    </div>
</div>
