<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
      Report for a solution <%= @solution.title %>
      <%= hidden_input(f, :solution_id, value: @solution.id) %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, rows: 3, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :success, class: "control-label" do %>
        <%= checkbox f, :success, class: "checkbox" %>
        Succesfully solved the error?
    <% end %>
    <%= error_tag f, :success %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
