<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Reports", search_path: defsol_report_path(@conn, :index), conn: @conn, page: @page %>
    </div>
    <div class="card-body">
<%= for item <- @page do %>
    <div class="row py-1">
        <div class="col">
            <div class="d-flex flex-row">
                <div>
                    <img class="img-user-small" src="<%= Avatar.url({item.author.avatar, item.author}, :thumb) %>" alt="User">
                </div>
                <div class="col">
                    <div class="card">
                        <% color = if item.success, do: "primary", else: "danger" %>
                        <div class="card-header bg-<%= color %> text-light">
                            <div class="d-flex flex-row justify-content-between">
                                <div>
                                    <%= item.author.fullname %>
                                    <%= if item.success do %>
                                        applied <%= item.solution.title %>
                                    <% else %>
                                        failed to apply <%= item.solution.title %>
                                    <% end %>
                                </div>
                                <div>
                                    <%= inserted_at(item) %>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><%= item.description %></p>
                            <div class="d-flex flex-row justify-content-end">
                                <div class="px-1">
                                    <%= link "Edit", to: defsol_report_path(@conn, :edit, item), class: "btn btn-primary" %>
                                </div>
                                <div class="px-1">
                                    <%= link "Delete", to: defsol_report_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
<div class="pt-3">
    <%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &defsol_report_path/3, action: :index] %>
</div>
    </div>

</div>
