<div class="card-2">
    <div class="card-header">
        <h2>Edit Solution</h2>
    </div>
    <div class="card-body">

<%= render "form_edit.html", Map.put(assigns, :action, admin_solution_path(@conn, :update, @solution)) %>

    </div>
</div>
