<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :title, class: "control-label" %>
    <%= text_input f, :title, class: "form-control" %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
      <%= label f, :cause_id, "Cause", class: "control-label" %>
      <% causes = Enum.map(@causes, &{&1.title, &1.id}) %>
      <%= select f, :cause_id, causes, select_class() %>
      <%= error_tag f, :cause_id %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, rows: 3, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
      <%= submit class: "btn btn-success", name: "action", value: "addstep" do %>
          <i class="fa fa-plus"> Add Step</i>
      <% end %>
  </div>

    <%= inputs_for f, :steps, fn i -> %>
        <h4>
            <%= if i.index > 0 do %>
                <%=  submit class: "btn btn-carmine", name: "action", value: "remove_step_#{i.index}" do %>
                    <i class="fa fa-minus"></i>
                <% end %>
            <% end %>
            Step <%= i.index + 1 %>
        </h4>
        <div class="form-group">
            <%= label i, :title, class: "control-label" %>
            <%= text_input i, :title, class: "form-control" %>
            <%= error_tag i, :title %>
        </div>
        <div class="form-group">
            <%= label i, :description, class: "control-label" %>
            <%= textarea i, :description, rows: 3, class: "form-control" %>
            <%= error_tag i, :description %>
        </div>
    <% end %>

  <div class="form-group">
      <%= submit class: "btn btn-primary" do %>
          <i class="fa fa-floppy-o"> Save</i>
      <% end %>
      <%= submit class: "btn btn-primary", name: "action", value: "attachments" do %>
          <i class="fa fa-floppy-o"> Add Attachments</i>
      <% end %>
      <%= link to: admin_solution_path(@conn, :index), class: "btn btn-carmine" do %>
          <i class="fa fa-close"></i>
      <% end %>
  </div>
<% end %>
