<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Solutions", new_path: admin_solution_path(@conn, :new), search_path: admin_solution_path(@conn, :index), conn: @conn, page: @page %>
    </div>
    <div class="card-body">

<%= for {item, i} <- Enum.with_index(@page.entries) do %>
    <%= row(:open, rem(i,3) == 0) %>

    <div class="col-md-4 py-2">
        <div class="card">
            <div class="card-header bg-primary text-light">
                <div class="d-flex flex-row">
                    <h5 class="card-title"><%= item.title %></h5>
                </div>
            </div>
            <div class="card-body">
                <h5>Cause <%= item.cause.title %></h5>
                <h5>Description</h5>
                <p class="card-text"><%= item.description %></p>
                <h5>Steps</h5>
                <ul class="list-group list-group-flush">
                <%= for {step, i} <- Enum.with_index(item.steps) do %>
                    <li class="list-group-item">
                        <h5><%= Integer.to_string(i+1) <> ". " <> step.title %></h5>
                        <p><%= step.description %></p>
                    </li>
                <% end %>
                </ul>

                <div class="pt-2">
                    <%= render_shared "authorable.html", item: item %>
                </div>

                <div class="d-flex flex-column flex-sm-row justify-content-between pt-2">
                    <div>
                        <%= link "List Reports", to: admin_report_path(@conn, :index, solution_id: item.id), class: "btn btn-light" %>
                    </div>
                    <div>
                        <%= link "List Notes", to: admin_note_path(@conn, :index, solution_id: item.id), class: "btn btn-light" %>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent">
                <div class="d-flex flex-row justify-content-end">
                    <div class="px-1">
                        <%= link "Edit", to: admin_solution_path(@conn, :edit, item), class: "btn btn-primary" %>
                    </div>
                    <div class="px-1">
                        <%= link "Delete", to: admin_solution_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= row(:close, rem(i,3) == 2) %>
<% end %>

<div class="pt-3">
    <%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &admin_solution_path/3, action: :index] %>
</div>
    </div>
</div>
