<div class="card-2 my-2">
    <div class="card-header">
        <h2>Attachments</h2>
    </div>
    <div class="card-body">
        <%= render "list.html", assigns %>
    </div>
    <%= if assigns[:finish_path] do %>
        <div class="card-footer bg-transparent">
            <div class="d-flex flex-row justify-content-end">
                <div class="px-1">
                    <%= link "Finish", to: @finish_path, class: "btn btn-primary" %>
                </div>
            </div>
        </div>
    <% end %>
</div>
