<div id="overlay">
    <div class="loader"></div>
</div>
<%= for item <- @attachments do %>
    <a href="<%= Hidria.AttachmentUpload.url({item.fileinfo, item}, :original) %>" class="lightbox" data-lightbox-gallery="attachment_gallery" title="">
        <img src="<%= Hidria.AttachmentUpload.url({item.fileinfo, item}, :thumb) %>" alt="">
        <%= if assigns[:delete] do %>
            <% back_to = Phoenix.Controller.current_path(@conn) %>
            <%= link to: attachment_path(@conn, :delete, item, redirect_to: back_to), method: :delete, class: "btn btn-danger lightbox-delete" do %>
                <i class="fa fa-trash"></i>
            <% end %>
        <% end %>
    </a>
<% end %>

<div id="<%= @assoc_id %>" class="<%= @assoc %>-upload py-2" data-assoc-id="<%= @assoc_id %>"></div>
