<span data-toggle="tooltip" data-placement="top" title="Edit">
    <%= link to: @edit_path, class: "btn btn-primary btn-xs" do %>
        <i class="fa fa-pencil"></i>
    <% end %>
</span>
<span data-toggle="tooltip" data-placement="top" title="Delete">
    <%= link to: @delete_path, method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" do %>
        <i class="fa fa-trash"></i>
    <% end %>
</span>
