<%= if @item.author do %>
    <h6 class="card-subtitle mb-2 text-muted">Created: <%= inserted_at(@item) %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Author: <%= @item.author.fullname %></h6>
<% end %>
<%= if @item.editor do %>
    <h6 class="card-subtitle mb-2 text-muted">Last edited: <%= updated_at(@item) %></h6>
    <h6 class="card-subtitle mb-2 text-muted">By: <%= @item.editor.fullname %></h6>
<% end %>
