<%= if @page.total_pages > 1 do %>
    <div class="d-flex flex-row justify-content-end pt-3">
        <div class="align-self-center">Pages:</div>
        <div class="pl-2">
            <% url_params = if assigns[:url_params], do: @url_params, else: [] %>
            <%= pagination_links @conn, @page, url_params, pagination_opts(@conn) ++ @path_opts %>
        </div>
    </div>
<% end %>
