<div class="d-flex page-header align-content-center flex-sm-row flex-column">
    <div class="d-flex flex-row">
        <div class="pl-2 py-1">
            <h2><%= @title %></h2>
        </div>
        <%= if assigns[:new_path] do %>
            <div class="pl-2 py-1">
                <span>
                    <%= link to: @new_path, class: "btn btn-success" do %>
                        <i class="fa fa-plus"></i>
                    <% end %>
                </span>
            </div>
        <% end %>
    </div>
    <%= if assigns[:search_path] do %>
        <div class="ml-sm-auto pl-2 py-1">
            <%= form_for @conn, @search_path, [method: :get, class: "form-group"], fn f -> %>
            <div class="d-flex flex-row ml-auto">
                <%= search_input f, :search %>
                <%= submit "Search", class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
    <% end %>
</div>

<%= if search(@conn) do %>
    <div class="d-flex justify-content-center flex-row">
        <span>Found <%= @page.total_entries %> items!</span>
    </div>
<% end %>
