<div class="text-center">
    <img id="user-avatar" class="img-fluid rounded" alt="" src="<%= Avatar.url({@user.avatar, @user}, :thumb) %>"/>
</div>
<div class="input-group py-1">
    <div class="custom-file">
        <%= label @f, :avatar, "Profile Image", class: "custom-file-label" %>
        <%= file_input @f, :avatar, class: "custom-file-input", onchange: "updateAvatar(this);" %>
    </div>
</div>
<script>
 function updateAvatar(input) {
     console.log("update avatar!!!");
     if (input.files && input.files[0]) {
         var reader = new FileReader();

         reader.onload = function (e) {
             $('#user-avatar')
                 .attr('src', e.target.result);
         };

         reader.readAsDataURL(input.files[0]);
     }
 }
</script>
