<div class="d-flex page-header align-content-center flex-sm-row flex-column">
    <div class="pl-2 py-1">
        <h2>Select the working machine</h2>
    </div>
    <div class="ml-auto pl-2 py-1">
        <%= form_for @conn, state_path(@conn, :show, "station"), [method: :get, class: "form-group"], fn f -> %>
            <div class="d-flex flex-row">
                <%= text_input f, :search %>
                <%= submit "Search", class: "btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>

<%= if search(@conn) do %>
    <div class="d-flex justify-content-center flex-row">
        <span>Found <%= @stations.total_entries %> stations!</span>
    </div>
<% end %>

<%= for {station, i} <- Enum.with_index(@stations) do %>
    <%= row(:open, rem(i,3) == 0) %>

    <div class="col-md-4 py-2">
        <div class="card">
            <h5 class="card-header bg-primary text-light">
                <%= station.description %>
            </h5>
            <div class="card-body d-flex flex-row">
                <div class="card-text"><strong>Code:</strong> <%= station.code %></div>
                <div class="ml-auto">
                    <%= form_for @conn, state_path(@conn, :create, redirect_to: Map.get(@conn.assigns, :redirect_to, "/")), [], fn f -> %>
                    <%= text_input f, :station, value: station.id, hidden: true %>
                    <%= submit "Select", class: "btn btn-success" %>
<% end %>
                </div>
            </div>
        </div>
    </div>

    <%= row(:close, rem(i,3) == 2) %>
<% end %>

<%= render_shared "pagination.html", conn: @conn, page: @stations, url_params: ["station"], path_opts: [path: &state_path/4, action: :show] %>
