<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
      <%= label f, :solution_id, "Solution", class: "control-label" %>
      <% solutions = Enum.map(@solutions, &{&1.title, &1.id}) %>
      <% solution_id = Map.get(@conn.assigns, :solution_id) %>
      <%= select f, :solution_id, solutions, select_options(solution_id) %>
      <%= error_tag f, :solution_id %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, rows: 3, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= label f, :success, class: "control-label" do %>
        <%= checkbox f, :success, class: "checkbox" %>
        Succesfully solved the error?
    <% end %>
    <%= error_tag f, :success %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
