<h2>Show Report</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @report.description %>
  </li>

  <li>
    <strong>Success:</strong>
    <%= @report.success %>
  </li>

</ul>

<span><%= link "Edit", to: admin_report_path(@conn, :edit, @report) %></span>
<span><%= link "Back", to: admin_report_path(@conn, :index) %></span>
