<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
      <%= label f, :error_id, "Error", class: "control-label" %>
      <% errors = [{"None", nil}] ++ Enum.map(@errors, &{&1.title, &1.id}) %>
      <%= select f, :error_id, errors, select_class() %>
      <%= error_tag f, :error_id %>
  </div>

  <div class="form-group">
      <%= label f, :cause_id, "Cause", class: "control-label" %>
      <% causes = [{"None", nil}] ++ Enum.map(@causes, &{&1.title, &1.id}) %>
      <%= select f, :cause_id, causes, select_class() %>
      <%= error_tag f, :cause_id %>
  </div>

  <div class="form-group">
      <%= label f, :solution_id, "Solution", class: "control-label" %>
      <% solutions = [{"None", nil}] ++ Enum.map(@solutions, &{&1.title, &1.id}) %>
      <%= select f, :solution_id, solutions, select_class() %>
      <%= error_tag f, :solution_id %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, rows: 3, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
