
<div class="card-2">
    <div class="card-header">
        <%= render_shared "title.html", title: "Listing Notes", new_path: admin_note_path(@conn, :new), search_path: admin_note_path(@conn, :index), conn: @conn, page: @page %>
        <ul class="nav nav-tabs card-header-tabs">
            <%= for item <- tab_navigation(@conn, :admin_note_path) do %>
                <li class="nav-item">
                    <a class="nav-link <%= if item.active, do: "active" %>" href="<%= item.href %>"><%= item.label %></a>
                </li>
            <% end %>
        </ul>
    </div>
    <div class="card-body">
        <%= for item <- @page do %>
            <div class="row py-2">
                <div class="col">
                    <div class="card">
                        <div class="card-body">

                            <%= render_shared "authorable.html", item: item %>

                            <h6 class="card-subtitle mb-2 text-muted"><%= association(item.error, "Error: ") %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= association(item.cause, "Cause: ") %></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><%= association(item.solution, "Solution: ") %></h6>
                            <p class="card-text"><%= item.description %></p>
                            <div class="d-flex flex-column flex-sm-row">
                                <div class="pl-2"> <%= association_link(item.error, &admin_error_path/3, @conn)  %> </div>
                                <div class="pl-2"> <%= association_link(item.cause, &admin_cause_path/3, @conn)  %> </div>
                                <div class="pl-2"> <%= association_link(item.solution, &admin_solution_path/3, @conn)  %> </div>
                                <div class="ml-auto px-1">
                                    <%= link "Edit", to: admin_note_path(@conn, :edit, item), class: "btn btn-primary" %>
                                    <%= link "Delete", to: admin_note_path(@conn, :delete, item), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<div class="pt-3">
    <%= render_shared "pagination.html", conn: @conn, page: @page, path_opts: [path: &admin_note_path/3, action: :index] %>
</div>
