<h2>Show Note</h2>

<ul>

  <li>
    <strong>Description:</strong>
    <%= @note.description %>
  </li>

</ul>

<span><%= link "Edit", to: admin_note_path(@conn, :edit, @note) %></span>
<span><%= link "Back", to: admin_note_path(@conn, :index) %></span>
