<div class="card-2">
    <div class="card-header">
        <h2>Edit Note</h2>
    </div>
    <div class="card-body">

<%= render "form.html", Map.put(assigns, :action, defsol_note_path(@conn, :update, @note)) %>

    </div>
</div>
