<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= hidden_input f, :error_id %>
  <%= hidden_input f, :cause_id %>
  <%= hidden_input f, :solution_id %>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= textarea f, :description, rows: 3, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
