<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :code, class: "control-label" %>
    <%= text_input f, :code, class: "form-control" %>
    <%= error_tag f, :code %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "control-label" %>
    <%= text_input f, :description, class: "form-control" %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-group">
      <%= label f, :parts, class: "control-label" %>
      <% parts = Enum.map(@parts, &{&1.code, &1.id}) %>
      <% opts = [selected: selected_parts(assigns)] ++ select_class() %>
      <%= multiple_select f, :parts, parts, opts %>
      <%= error_tag f, :parts %>
  </div>

  <div class="form-group">
      <%= submit class: "btn btn-primary" do %>
          <i class="fa fa-floppy-o"> Save</i>
      <% end %>
      <%= link to: admin_station_path(@conn, :index), class: "btn btn-carmine" do %>
          <i class="fa fa-close"></i>
      <% end %>
  </div>
<% end %>
