<div class="card-2">
    <div class="card-header">
        <h2>New Machine</h2>
    </div>
    <div class="card-body">


<%= render "form.html", Map.put(assigns, :action, admin_station_path(@conn, :create)) %>

    </div>
</div>
